<main layout:fragment="~{main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

    <div class="row justify-content-center">
        <h2>Política de Privacidade</h2>
    </div>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">Data de atualiza&ccedil;&atilde;o: 17 de Julho de 2021</span></span></strong></span><br />
        &nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Os seus dados s&atilde;o seus. Respeitamos a sua privacidade e tratamos os seus dados como parte da nossa miss&atilde;o de proporcionar um servi&ccedil;o cada vez melhor. Essa Declara&ccedil;&atilde;o de Privacidade descreve como obtemos, armazenamos, utilizamos e compartilhamos as suas informa&ccedil;&otilde;es.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">A prote&ccedil;&atilde;o dos seus dados e da sua privacidade s&atilde;o muito importantes para o <strong>EASY ONG</strong>. Recomendamos que voc&ecirc; conhe&ccedil;a as nossas pr&aacute;ticas como um todo, mas aqui est&atilde;o alguns pontos importantes para que voc&ecirc; entenda como seus dados s&atilde;o tratados no <strong>EASY ONG</strong>:</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">● Os dados que voc&ecirc; cadastra em nossas plataformas s&atilde;o tratados de forma segura e limitamos o tratamento para suas devidas finalidades.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">● Voc&ecirc; pode alterar suas prefer&ecirc;ncias de comunica&ccedil;&atilde;o no pr&oacute;prio aplicativo, mas ainda poderemos contat&aacute;-lo para informa&ccedil;&otilde;es sobre quaisquer suspeitas il&iacute;citas.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">● Voc&ecirc; poder&aacute; tirar suas d&uacute;vidas e solicitar informa&ccedil;&otilde;es a qualquer momento atrav&eacute;s do nosso canal &ldquo;Fale conosco&rdquo;.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">A quem essa Declara&ccedil;&atilde;o se aplica?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Quem &eacute; o respons&aacute;vel pelo tratamento dos dados pessoais?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Quais dados s&atilde;o coletados?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como utilizamos esses dados?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como utilizamos cookies e outras tecnologias?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como os dados s&atilde;o armazenados?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG</strong> transfere os dados para outros pa&iacute;ses?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como os dados s&atilde;o compartilhados?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como protegemos os seus dados?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como iremos notific&aacute;-lo em caso de mudan&ccedil;as &agrave; esta Declara&ccedil;&atilde;o?</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Como exercer seus direitos enquanto titular de dados pessoais?</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">1. A quem essa Declara&ccedil;&atilde;o se aplica?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Esta Declara&ccedil;&atilde;o de Privacidade, tamb&eacute;m chamada de &ldquo;Declara&ccedil;&atilde;o&rdquo;, &eacute; aplic&aacute;vel &agrave;queles que acessem ou se cadastrem em nossa Plataforma (conforme defini&ccedil;&atilde;o abaixo) e &agrave;queles que de qualquer outra forma utilizarem os servi&ccedil;os do <strong>EASY ONG</strong>.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Nosso aplicativo &eacute; denominado, em conjunto, como Plataforma ou Plataformas. Quando houver men&ccedil;&atilde;o aos termos &ldquo;<strong>EASY ONG</strong>&rdquo;, &ldquo;n&oacute;s&rdquo; ou &ldquo;nossos&rdquo;, estamos nos referindo ao <strong>EASY ONG</strong>; da mesma forma, toda vez que houver men&ccedil;&atilde;o aos termos &ldquo;voc&ecirc;&rdquo;, &ldquo;seu&rdquo;, &ldquo;sua&rdquo;, estamos nos referindo a Voc&ecirc;.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">2. Quem controla o tratamento dos dados pessoais?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O controlador &eacute; a pessoa f&iacute;sica ou jur&iacute;dica que decide sobre o tratamento de dados pessoais.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Quando voc&ecirc; acessar ou se cadastrar em nossa Plataforma, o <strong>EASY ONG</strong> exerce o papel de controlador do tratamento de seus dados pessoais, atuando conforme a legisla&ccedil;&atilde;o aplic&aacute;vel e conforme descrito na presente Declara&ccedil;&atilde;o.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">3. Quais dados s&atilde;o coletados?</span></span></strong></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">3.1 Dados que voc&ecirc; nos fornece</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Quando voc&ecirc; criar uma conta para ser um usu&aacute;rio registrado no <strong>EASY ONG</strong>, poderemos obter uma s&eacute;rie de informa&ccedil;&otilde;es sobre voc&ecirc;, tais como:</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">A) Dados do seu perfil</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Esses dados incluem seu nome, CPF (quando aplic&aacute;vel), e-mail, endere&ccedil;o de entrega, n&uacute;mero de telefone e prefer&ecirc;ncias de contato.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">B) Dados de localiza&ccedil;&atilde;o</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Para realizarmos a busca por localiza&ccedil;&atilde;o, n&oacute;s precisamos que voc&ecirc; tamb&eacute;m nos informe a sua localiza&ccedil;&atilde;o ou a localiza&ccedil;&atilde;o do local em que gostaria de encontrar uma ONG.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Essa localiza&ccedil;&atilde;o pode ser fornecida pelo endere&ccedil;o que voc&ecirc; inserir manualmente no aplicativo, ou atrav&eacute;s da localiza&ccedil;&atilde;o obtida do seu dispositivo via GPS e redes m&oacute;veis (torres de celular, Wi-Fi e outras modalidades de localiza&ccedil;&atilde;o) e confirmada por voc&ecirc;.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Para fins da lei n&deg; 12.965 de 2014 (Marco Civil da Internet), ou qualquer lei que venha substitu&iacute;-la, a localiza&ccedil;&atilde;o fornecida ser&aacute; considerada como dado cadastral.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">3.2 Dados gerados durante a utiliza&ccedil;&atilde;o dos servi&ccedil;os</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">A) Dados dos seus dispositivos</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s podemos coletar informa&ccedil;&otilde;es automaticamente sobre os dispositivos a partir dos quais voc&ecirc; acessa o <strong>EASY ONG</strong> como: endere&ccedil;os IP, tipo de navegador e idioma, provedor de Servi&ccedil;os de Internet (ISP), p&aacute;ginas de consulta e sa&iacute;da, sistema operacional, informa&ccedil;&otilde;es sobre data e hor&aacute;rio, dados sobre a sequ&ecirc;ncia de cliques, fabricante do dispositivo, operadora, modelo, vers&atilde;o do aparelho, vers&atilde;o do aplicativo, vers&atilde;o do sistema operacional, identificador de publicidade do aparelho (IDFA), informa&ccedil;&otilde;es de acessibilidade do aparelho e redes Wi-Fi.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">B) Dados transacionais e dados sobre sua utiliza&ccedil;&atilde;o</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Coletamos dados sobre suas intera&ccedil;&otilde;es em nossa plataforma, incluindo data e hor&aacute;rio de acessos, buscas e visualiza&ccedil;&otilde;es na Plataforma.&nbsp;</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">3.3 Informa&ccedil;&otilde;es n&atilde;o-pessoais</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s tamb&eacute;m podemos obter informa&ccedil;&otilde;es n&atilde;o-pessoais, ou seja, dados que n&atilde;o permitem a associa&ccedil;&atilde;o direta com qualquer pessoa especificamente. S&atilde;o exemplos de dados n&atilde;o-pessoais o agrupamento de pedidos por regi&atilde;o.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4. Como utilizamos esses dados?</span></span></strong></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4.1 Prover nossos servi&ccedil;os</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Podemos utilizar os dados coletados para prover, manter, melhorar e personalizar nossos servi&ccedil;os destinados a voc&ecirc;, existentes ou a serem criados.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Tamb&eacute;m poderemos usar seus dados pessoais para fins internos, tais como auditoria, an&aacute;lise de dados e pesquisas para aprimorar os produtos, servi&ccedil;os e comunica&ccedil;&otilde;es com os clientes, bem como gera&ccedil;&atilde;o de an&aacute;lises estat&iacute;sticas com respeito ao uso dos nossos servi&ccedil;os.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4.2 Avalia&ccedil;&atilde;o de ONGs</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Ao enviar coment&aacute;rios e feedback com rela&ccedil;&atilde;o &agrave; Plataforma e os servi&ccedil;os do <strong>EASY ONG</strong> referente as ONGs cadastradas, voc&ecirc; nos autoriza a publicar e utilizar tais coment&aacute;rios e feedbacks na Plataforma, bem como a analisar, processar e tratar esse feedback de forma isolada ou agregada. Para tanto, apenas identificamos voc&ecirc; atrav&eacute;s de seu nome de cadastro.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4.6 Seguran&ccedil;a e preven&ccedil;&atilde;o &agrave; fraudes</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s tamb&eacute;m podemos utilizar seus dados pessoais para aprimorar a nossa seguran&ccedil;a e melhorar os servi&ccedil;os destinados a voc&ecirc;. Dessa forma, podemos analisar e solucionar problemas t&eacute;cnicos, bem como identificar e coibir fraudes na utiliza&ccedil;&atilde;o do nosso servi&ccedil;o.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4.7 Marketing</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s poderemos usar seus dados pessoais para enviar publicidade, bem como outros materiais&nbsp; voltados ao marketing de nossos servi&ccedil;os e de novidades para voc&ecirc;, o que inclui marketing direcionado em redes sociais e notifica&ccedil;&otilde;es push.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Nesse caso, voc&ecirc; pode optar por n&atilde;o receber mais notifica&ccedil;&otilde;es de marketing a qualquer momento, alterando as suas prefer&ecirc;ncias pelo Aplicativo, na &ldquo;&Aacute;rea do Usu&aacute;rio&rdquo;.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4.8 Pesquisas diversas</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Podemos utilizar seus dados para entrar em contato diretamente com voc&ecirc; a fim de coletar feedbacks importantes para aprimoramento de nossos servi&ccedil;os. Nesta hip&oacute;tese, voc&ecirc; ser&aacute; questionado se deseja participar da pesquisa em quest&atilde;o, sempre podendo se recusar a nos ajudar em nossa melhoria di&aacute;ria.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">4.9 Requisi&ccedil;&otilde;es legais e regulat&oacute;rias</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Seus dados poder&atilde;o ser utilizados para endere&ccedil;armos reivindica&ccedil;&otilde;es jur&iacute;dicas e regulat&oacute;rias relacionadas &agrave; utiliza&ccedil;&atilde;o dos nossos servi&ccedil;os.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">5. Como utilizamos cookies e outras tecnologias?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG</strong> se utiliza de tecnologias como cookies, pixel tags, armazenamento local ou outros identificadores, tanto de dispositivos m&oacute;veis ou n&atilde;o, ou tecnologias semelhantes (&ldquo;cookies e outras tecnologias&rdquo;), para uma variedade de fun&ccedil;&otilde;es. Essas tecnologias nos ajudam a autenticar a sua conta, promover e aperfei&ccedil;oar os servi&ccedil;os do <strong>EASY ONG</strong>, personalizar a sua experi&ecirc;ncia e avaliar a efic&aacute;cia da nossa aplica&ccedil;&atilde;o.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">5.1 O que s&atilde;o essas tecnologias?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Cookies s&atilde;o pequenos arquivos armazenados no seu navegador, celular ou outro dispositivo.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Pixel tags (ou GIFs limpos, web beacons ou pixels) s&atilde;o pequenos blocos de c&oacute;digo em uma p&aacute;gina da web que permitem que elas realizem a&ccedil;&otilde;es como ler e armazenar cookies e transmitir informa&ccedil;&otilde;es para o <strong>EASY ONG</strong>. A conex&atilde;o resultante pode incluir informa&ccedil;&otilde;es como o endere&ccedil;o de IP de um dispositivo, a hora em que uma pessoa visualizou o pixel, um identificador associado ao navegador ou dispositivo e o tipo de navegador em uso.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Identificadores de dispositivo mobile s&atilde;o c&oacute;digos que possibilitam a identifica&ccedil;&atilde;o do seu dispositivo mobile, seja de maneira persistente ou transit&oacute;ria, tais como o ID de Publicidade ou o ID de seu sistema operacional.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">5.2 Promover uma experi&ecirc;ncia personalizada</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG</strong> tamb&eacute;m usa cookies e outras tecnologias para memorizar informa&ccedil;&otilde;es pessoais quando voc&ecirc; usa o nosso aplicativo. A nossa meta nesses casos &eacute; fazer com que a sua experi&ecirc;ncia com o <strong>EASY ONG</strong> seja mais conveniente e personalizada.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Por exemplo, saber o seu primeiro nome nos permite dar boas-vindas a voc&ecirc; na pr&oacute;xima vez em que voc&ecirc; acessar o <strong>EASY ONG</strong>. Conhecer seu pa&iacute;s e idioma nos permite viabilizar a voc&ecirc; uma experi&ecirc;ncia de compras personalizada e mais &uacute;til.&nbsp;</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Nessa linha, podemos tamb&eacute;m usar essas informa&ccedil;&otilde;es para classificar os usu&aacute;rios dentro da rede <strong>EASY ONG</strong>, identificando os usu&aacute;rios a partir de eventos realizados, como a primeira compra ou o download do nosso aplicativo, e a partir de determinadas caracter&iacute;sticas de seu perfil, como usu&aacute;rios que pedem mais determinada categoria de ONGs ou que realizam mais de 4 consultas de ONGs por m&ecirc;s.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">5.3 Avaliar a efic&aacute;cia da nossa comunica&ccedil;&atilde;o e publicidade</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s usamos essas informa&ccedil;&otilde;es tamb&eacute;m para entender e analisar tend&ecirc;ncias, administrar os nossos servi&ccedil;os, aprender sobre o comportamento do usu&aacute;rio e obter informa&ccedil;&otilde;es demogr&aacute;ficas sobre a nossa base de usu&aacute;rios de maneira geral. Em algumas de nossas mensagens de e-mail, n&oacute;s usamos uma &quot;URL click-through&quot; (endere&ccedil;o externo) vinculada ao conte&uacute;do do <strong>EASY ONG</strong>. Quando os clientes clicam em uma dessas URLs, os usu&aacute;rios s&atilde;o enviados para um servidor diferente antes de chegarem &agrave; p&aacute;gina de destino no nosso servi&ccedil;o.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s monitoramos esses dados de click-through para entender o interesse em determinados t&oacute;picos e avaliar a efic&aacute;cia das comunica&ccedil;&otilde;es com os nossos clientes. Se voc&ecirc; preferir n&atilde;o ser monitorado dessa maneira, n&atilde;o clique em texto ou links contidos em mensagens de e-mail enviadas pelo <strong>EASY ONG</strong>.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Os pixel tags nos permitem enviar mensagens de e-mail em formatos que os usu&aacute;rios possam ler e nos dizer se o e-mail foi aberto ou n&atilde;o. N&oacute;s podemos usar essas informa&ccedil;&otilde;es para reduzir ou eliminar as mensagens enviadas aos usu&aacute;rios.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">5.4 Tecnologia de terceiros</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Al&eacute;m dos cookies e outras tecnologias do <strong>EASY ONG</strong>, n&oacute;s podemos permitir que terceiros contratados pelo <strong>EASY ONG</strong> utilizem cookies e outras tecnologias de sua propriedade para identificar seu navegador e dispositivo, de modo a lhe oferecer publicidade direcionada do <strong>EASY ONG</strong> quando voc&ecirc; acessa websites ou aplicativos de terceiros.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Esses terceiros podem tamb&eacute;m fornecer ao <strong>EASY ONG&nbsp;</strong>informa&ccedil;&otilde;es acerca do desempenho das campanhas de marketing desenvolvidas por meio do compartilhamento de dados conosco.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">6. Como os dados s&atilde;o armazenados?</span></span></strong></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">6.1 Onde os dados s&atilde;o armazenados?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Os dados que coletamos de voc&ecirc; s&atilde;o armazenados em servi&ccedil;os de nuvem confi&aacute;veis de parceiros que podem estar localizados no Brasil.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Na contrata&ccedil;&atilde;o desses servi&ccedil;os, o <strong>EASY ONG</strong> sempre busca empresas que empregam alto n&iacute;vel de seguran&ccedil;a no armazenamento de suas informa&ccedil;&otilde;es, estabelecendo contratos que n&atilde;o violam as defini&ccedil;&otilde;es de privacidade previstas nesta Declara&ccedil;&atilde;o</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">6.2 Por quanto tempo os dados s&atilde;o armazenados?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O&nbsp;<strong>EASY ONG</strong> armazena as suas informa&ccedil;&otilde;es durante o per&iacute;odo necess&aacute;rio para as finalidades apresentadas nos Termos e Condi&ccedil;&otilde;es de Uso do EASY ONG e nesta Declara&ccedil;&atilde;o de Privacidade, respeitando o per&iacute;odo de reten&ccedil;&atilde;o de dados determinado pela legisla&ccedil;&atilde;o aplic&aacute;vel.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Caso voc&ecirc; solicite a exclus&atilde;o de sua conta, as suas informa&ccedil;&otilde;es pessoais fornecidas ao <strong>EASY ONG</strong> durante a sua utiliza&ccedil;&atilde;o dos nossos servi&ccedil;os ser&atilde;o exclu&iacute;das, salvo para as finalidades permitidas pela legisla&ccedil;&atilde;o de prote&ccedil;&atilde;o de dados.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">7. O EASY ONG transfere os dados para outros pa&iacute;ses?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG</strong> n&atilde;o realiza transfer&ecirc;ncias internacionais de dados para outros pa&iacute;ses.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Em qualquer caso de compartilhamento com parceiros ou prestadores de servi&ccedil;os localizados em outros pa&iacute;ses, estabelecemos contratualmente que o parceiro possua padr&atilde;o de prote&ccedil;&atilde;o de dados e seguran&ccedil;a da informa&ccedil;&atilde;o compat&iacute;vel com esta Declara&ccedil;&atilde;o e com a legisla&ccedil;&atilde;o aplic&aacute;vel.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">8. Como os dados s&atilde;o compartilhados?</span></span></strong></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">8.1 Provedores de servi&ccedil;os</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Por raz&otilde;es de processamento de dados em nome do <strong>EASY ONG</strong>, poderemos compartilhar dados para terceiros prestadores de servi&ccedil;os. Nesse caso, os dados ser&atilde;o tratados de forma a proteger a sua privacidade, tendo essas empresas o dever contratual de prote&ccedil;&atilde;o compat&iacute;vel com a legisla&ccedil;&atilde;o aplic&aacute;vel e com os termos deste Declara&ccedil;&atilde;o de Privacidade do <strong>EASY ONG</strong>.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">N&oacute;s podemos utilizar os servi&ccedil;os dessas empresas para facilitar nosso servi&ccedil;o, prover o servi&ccedil;o do <strong>EASY ONG</strong> em nosso nome e executar atividades relacionadas ao servi&ccedil;o, incluindo: manuten&ccedil;&atilde;o dos servi&ccedil;os; gerenciamento de banco de dados, sistemas de computadores e provedores de armazenamento em nuvem; central de atendimento ao cliente; ag&ecirc;ncias de publicidade.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Essas empresas ou indiv&iacute;duos t&ecirc;m acesso &agrave; sua informa&ccedil;&atilde;o pessoal, restrito ao necess&aacute;rio, apenas para executar atividades solicitadas pelo <strong>EASY ONG</strong> e s&atilde;o obrigados a n&atilde;o usar ou divulgar tais informa&ccedil;&otilde;es para nenhuma outra finalidade.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">8.2 Estabelecimentos parceiros do EASY ONG</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Ao fazer um pedido em um estabelecimento parceiro por nossa Plataforma, n&oacute;s podemos compartilhar algumas informa&ccedil;&otilde;es suas com esse estabelecimento parceiro, bem como fornecer dados a respeito do pedido em espec&iacute;fico. Os dados compartilhados podem incluir nome, endere&ccedil;o de entrega e CPF (quando for solicitado).</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">8.3 Em altera&ccedil;&atilde;o de controle societ&aacute;rio do EASY ONG</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">No caso de opera&ccedil;&otilde;es societ&aacute;rias, como reestrutura&ccedil;&atilde;o, fus&atilde;o ou venda de ativos do <strong>EASY ONG</strong>, do grupo econ&ocirc;mico ou de parte dele, seus dados poder&atilde;o ser transferidos, desde que respeitados os termos da presente Declara&ccedil;&atilde;o.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">8.4 Autoridades p&uacute;blicas</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG</strong> tamb&eacute;m poder&aacute; compartilhar suas informa&ccedil;&otilde;es com autoridades policiais ou judiciais, autoridades p&uacute;blicas competentes ou outros terceiros, dentro e fora do pa&iacute;s em que voc&ecirc; reside, caso seja requerido pela legisla&ccedil;&atilde;o aplic&aacute;vel, por decis&atilde;o judicial e por requisi&ccedil;&atilde;o de autoridades, ou se necess&aacute;rio para responder a processos judiciais caso for solicitado.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Nestas situa&ccedil;&otilde;es, o <strong>EASY ONG</strong> ir&aacute; cooperar com as autoridades competentes na medida do estipulado por lei.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Al&eacute;m disso, o <strong>EASY ONG</strong> reserva a si a prerrogativa de compartilhar informa&ccedil;&otilde;es sobre seus usu&aacute;rios a terceiros quando houver motivos suficientes para considerar que a atividade de um usu&aacute;rio &eacute; suspeita, ilegal ou prejudicial ao <strong>EASY ONG</strong> ou a terceiros.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">9. Como protegemos os seus dados?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG&nbsp;</strong>adota medidas de seguran&ccedil;a, t&eacute;cnicas e administrativas aptas a proteger os dados pessoais de acessos n&atilde;o autorizados e de situa&ccedil;&otilde;es acidentais ou il&iacute;citas de destrui&ccedil;&atilde;o, perda, altera&ccedil;&atilde;o, comunica&ccedil;&atilde;o ou qualquer forma de tratamento inadequado ou il&iacute;cito.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Utilizamos os princ&iacute;pios estipulados por lei, respeitando a sua privacidade e protegendo seus dados em nossos processos internos como um todo.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">10. Como iremos notific&aacute;-lo em caso de mudan&ccedil;as &agrave; essa Declara&ccedil;&atilde;o?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">O <strong>EASY ONG</strong> poder&aacute; atualizar essa Declara&ccedil;&atilde;o de Privacidade periodicamente, sendo que a vers&atilde;o em vigor ser&aacute; sempre a mais recente.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Se fizermos alguma altera&ccedil;&atilde;o na Declara&ccedil;&atilde;o em termos materiais, colocaremos um aviso no nosso Aplicativo e disponibilizaremos a atualiza&ccedil;&atilde;o da mesma.</span></span></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Para verificar a data da vers&atilde;o em vigor, verifique a &ldquo;Data de atualiza&ccedil;&atilde;o&rdquo; no in&iacute;cio desse documento.</span></span></span></p>

    <p>&nbsp;</p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><strong><span style="font-size:11pt"><span style="color:#000000">11. Como exercer seus direitos enquanto titular de dados pessoais?</span></span></strong></span></p>

    <p><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:11pt"><span style="color:#000000">Se voc&ecirc; tiver algum questionamento ou d&uacute;vida com rela&ccedil;&atilde;o a esta Declara&ccedil;&atilde;o de Privacidade do <strong>EASY ONG</strong> ou qualquer pr&aacute;tica aqui descrita, voc&ecirc; poder&aacute; entrar em contato conosco atrav&eacute;s do canal &ldquo;Fale conosco&rdquo; no nosso aplicativo.</span></span></span></p>

</main>