<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy ONG</title>
</head>
<body>
<img src="https://raw.githubusercontent.com/grupocesw/EasyONGApp/master/src/Pages/Login/logo5.png" alt="Logo Easy ONG">
<h1 th:if="${user != null}">Olá <span th:text="${user.getPerson().getName()}"></span></h1>
<h1 th:if="${errorMessage != null}" ><span th:text="${errorMessage}"></span></h1>
</body>
</html>